<html>

<head>
    <!-- newcss framework, lightweight and elegant css framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="modal.css">
    <script defer src="https://unpkg.com/vue@2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/p5/lib/p5.js"></script>
    <script defer src="modal.js"></script>
    <script defer src="sketch.js"></script>
    <script defer src="Cell.js"></script>
    <script defer src="Grid.js"></script>
    <script defer src="Ant.js"></script>
    <script defer src="Target.js"></script>
    <!-- To be deleted -->
    <script defer src="test.js"></script>
</head>

<body>
    <!-- The Modal -->
    <div id="settingsModal" class="modal">
        <!-- Modal content -->
        <div class="info-modal-content">
            <span class="close">&times;</span>
            <h1>Ant colony controls</h1>
            <div>
                <p>These are the settings</p>
            </div>
            <div>
                <h2>Simulation</h2>
                <label for="showWalkingCheckbox">Show ants walking</label>
                <input type="checkbox" id="showWalkingCheckbox" v-model="showWalking">

                <label for="waitSolutionCheckbox">Wait for solution</label>
                <input type="checkbox" id="waitSolutionCheckbox" v-model="waitForSolution">

                <label for="startFromTargetCheckbox">Start from last target</label>
                <input type="checkbox" id="startFromTargetCheckbox" v-model="startFromLastTarget">
            </div>
            <div>
                <h2>UI</h2>
                <label for="showVisitedCheckbox">Show visited cells</label>
                <input type="checkbox" id="showVisitedCheckbox" v-model="showExploredCells">

                <label for="showTargetQtyCheckbox">Show Targets quantity</label>
                <input type="checkbox" id="showTargetQtyCheckbox" v-model="showTargetQuantity">

                <label for="showFPSCheckbox">Show FPS</label>
                <input type="checkbox" id="showFPSCheckbox" v-model="showFPS">
            </div>
            <div>
                <h2>Ants</h2>
                <label for="antTTLInput">Ant TTL</label>
                <input type="number" id="antTTLInput" v-model="antTTL">

                <label for="antPerceptionInput">Ant Perception radius</label>
                <input type="number" id="antPerceptionInput" v-model="antPerceptionRadius">
            </div>
            <div>
                <h2>Path tracking</h2>
                <label for="desirabilityFactorInput">Desirability factor</label>
                <input type="number" id="desirabilityFactorInput" v-model="desirabilityFactor">

                <label for="pheromonesFactorInput">Pheromones factor</label>
                <input type="number" id="pheromonesFactorInput" v-model="pheromonesFactor">
            </div>
            <div>
                <h2>Targets</h2>
                <label for="minNbTargetsInput">Minimum number of tagets</label>
                <input type="number" id="minNbTargetsInput" v-model="minNbTargets">

                <label for="targetMaxDesirabilityInput">Target qty. of food</label>
                <input type="number" id="targetMaxDesirabilityInput" v-model="targetMaxDesirability">
            </div>
        </div>
    </div>

    <!-- The Simulation -->
    <div oncontextmenu="return false;" id="canvasDiv"></div>
</body>

</html>
